

<div class="ibox">
  <div class="ibox-title">
      <h2><i class="fa fa-th"></i> Oversikt</h2>
      <div class="ibox-tools">

      </div>
  </div>
</div>
<div class='calendar'></div>
  <div class="ibox-content">
    <div class="panel panel-primary">
      <div class="panel-heading"><i class="fa fa-shapes"></i> Arrangement</div>
        <div class="panel-body">

          <div class="row">
            <div class="col-md-8">


              <% @events.each do |event| %>
              <div class="row">
                <div class="col-md-12">
                  <h4><%= event.title %></h4>
 
                </div>
              </div> 
              <% end %>

            </div>
 
          </div>

        </div>
      </div> 

 
    </div>
                
<script type="text/javascript">
var date_range_picker;
date_range_picker = function() {
  $('.date-range-picker').each(function(){
    $(this).daterangepicker({
        timePicker: true,
        timePickerIncrement: 30,
        alwaysShowCalendars: true
    }, function(start, end, label) {
      $('.start_hidden').val(start.format('YYYY-MM-DD HH:mm'));
      $('.end_hidden').val(end.format('YYYY-MM-DD HH:mm'));
    });
  })
};
$(document).on('turbolinks:load', date_range_picker);

</script>
<script type="text/javascript">
var initialize_calendar;
initialize_calendar = function() {
  $('.calendar').each(function(){
    var calendar = $(this);
    calendar.fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      defaultView: 'agendaWeek',
      fixedWeekCount: false,

      allDaySlot: false,
      weekends: true,
      weekNumbers: true,
      selectable: true,
      selectHelper: true,
      editable: true,
      eventLimit: true,
      eventSources: [
        '/admin/events.json',
      ],
      select: function(start, end) {
        $.getScript('/admin/events/new', function() {
          $('#event_date_range').val(moment(start).format("MM/DD/YYYY HH:mm") + ' - ' + moment(end).format("MM/DD/YYYY HH:mm"))
          date_range_picker();
          $('.start_hidden').val(moment(start).format('YYYY-MM-DD HH:mm'));
          $('.end_hidden').val(moment(end).format('YYYY-MM-DD HH:mm'));
        });

        calendar.fullCalendar('unselect');
      },

      eventDrop: function(event, delta, revertFunc) {
        event_data = { 
          event: {
            id: event.id,
            start: event.start.format(),
            end: event.end.format()
          }
        };
        $.ajax({
            url: '/admin/events/' + event.id,
            data: event_data,
            type: 'PATCH'
        });
      },

      eventResize: function(event, delta, revertFunc) {
        event_data = { 
          event: {
            id: event.id,
            start: event.start.format(),
            end: event.end.format()
          }
        };
        $.ajax({
            url: '/admin/events/' + event.id,
            data: event_data,
            type: 'PATCH'
        });
      },      
      
      eventClick: function(event, jsEvent, view) {
        $.getScript(event.edit_url, function() {
          $('#event_date_range').val(moment(event.start).format("MM/DD/YYYY HH:mm") + ' - ' + moment(event.end).format("MM/DD/YYYY HH:mm"))
          date_range_picker();
          $('.start_hidden').val(moment(event.start).format('YYYY-MM-DD HH:mm'));
          $('.end_hidden').val(moment(event.end).format('YYYY-MM-DD HH:mm'));
        });
      }
    });
  })
};
$(document).on('turbolinks:load', initialize_calendar);
</script>