
	<%= render 'search', route: events_path %>
	

    <!-- post content + sidebar -->
    <section>
        <div class="row">
            <!-- post content area -->
            <div class="col-md-9">
            	
 			</div>
 
        </div><!-- / row -->
    </section>
    <!-- / post content + sidebar -->
